- for rcontact in @rcontacts
  - to = rcontact.owner.id
  - if $redis.get to != nil
    - sendmsg current_user.id, ["/#{to}"] do
      :plain
        $("#online-status-#{@my_id}").html("#{@online_msg}");

