%ul{ :id => "contacts" }
  - for group_name, contacts in @groups
    %li 
      %a
        %span= group_name
      %ul
        - for contact in contacts
          %li
            - tid = contact.contact.id
            = link_to(dialog_path(tid), :remote => true) do 
              %span  
                %img{ :src => "#{gravatar(contact.contact, :size => 28)}" }
                %br
                %span{ :id => "contact-status-#{tid}", :class => "contacts-contact" }= current_user.get_display_name_by_id(tid)
:javascript
    $(function() {
      $("#contacts").wijtree({
        allowDrag: true,
        expandCollapseHoverUsed: true
      });
      document.getElementById("contacts-div").style.height=window.screen.height-160+"px";   
  });
