:css
  .chat-content { width: 320px; height: 300px; overflow-y: auto; }
  .chat-input   { margin: 0; }
%ul{ :id => "contacts" }
  - for group_name, contacts in @groups
    %li 
      %a
        %span= group_name
      %ul
        - for contact in contacts
          %li
            = link_to(dialog_path(contact.contact.id), :remote => true) do 
              %span  
                %img{ :src => "#{gravatar(contact.contact, :size => 28)}" }
                = contact.contact.name
:javascript
    $(function() {
      $("#contacts").wijtree();
      document.getElementById("contacts-div").style.height=window.screen.height-200+"px";   
  });
