alert('Update contact group success!');
$('#ecgrp-dialog-#{@contact_group.id}').wijdialog('close');
location.reload();
- sendmsg -1, ["/#{current_user.id}"] do
  = render 'shared/update_contacts_bar'
