:plain
  $('#ext_dialog').wijdialog({
    width: 840, 
    height: 640, 
    contentUrl: '#{contact_groups_path}', 
    autoOpen: true,
    title: 'Contact Groups',
    dialogClass: "dialogWithDropShadow",
    show: 'puff',
    hide: 'explode',
    collapsingAnimation: 
      { animated: "puff", duration: 300, easing: "easeOutExpo" },
    expandingAnimation: 
      { animated: "highlight", duration: 300, easing: "easeOutExpo" },
    modal: true,
  });
