<script>
  $(function() {
    $("#dia_contacts").dialog({
      position : 'right',
      width : 250,
      minWidth : 250,
      minHeight : 500,
      resizeStop : function(event, ui) {
        $('#acc_groups').accordion("resize");
      }
    });
    $("#acc_groups").accordion({
      fillSpace : true
    });
  });

</script>
<div id="dia_contacts" title="Contacts" style="padding: 5px 0 0 0">
  <form style="margin: 0 0 0 0">
    <input type="text" class="search-query" placeholder="Search">
  </form>
  <div id="acc_groups">
    <h3><a href="#">First header</a></h3>
    <div>
      First content
    </div>
    <h3><a href="#">Second header</a></h3>
    <div>
      Second content
    </div>
  </div>
</div>