:plain
  if(document.getElementById('new-contact-dialog-#{@id}')) {
    $('#new-contact-dialog-#{@id}').wijdialog('open');
  } else { 
    $('#dialogs').append("#{escape_javascript(render(:partial => 'new_contact_form'))}");
    $('#new-contact-dialog-#{@id}').wijdialog({
      title: 'New Contact',
      autoOpen: true,
      modal: true,
      buttons: {
        'Clear': function() {
          document.getElementById('new-contact-form').reset();
        },
        'Add': function() {
          $('#new-contact-form').submit();
        }
      },
      dialogClass: 'dialogWithDropShadow',
      hide: 'explode',
      collapsingAnimation: { 
        animated: "puff", duration: 300, easing: "easeOutExpo" },
      expandingAnimation: { 
        animated: "highlight", duration: 300, easing: "easeOutExpo" }
    });  
  }
