%footer{ :class => "footer" }
  %small
    = link_to("Zim", root_path)
    by 
    %a{ :href => "http://aztec.tk/" } 
    zsy
  %nav
    %ul
      %li
        %a{ :href => "http://zsyblog.sinaapp.com/about/" } About